snippets/
docs/
.vscode/
playground/
__pycache__
__pycache__/
venv*
venv/
CursoemVideo/.idea/
CursoemVideo/2020/world_1/build/
*.pdf
*.zip
*.mp3
*.wav
*.ogg
*.ase
*.env
playground/pygame/hello_pygame/assets/sprites/warped_city_2/*

!playground/pygame/hello_pygame/assets/sprites/warped_city_2/Sprites
playground/pygame/hello_pygame/assets/sprites/warped_city_2/Sprites/*
!playground/pygame/hello_pygame/assets/sprites/warped_city_2/Sprites/Player
playground/pygame/hello_pygame/assets/sprites/warped_city_2/Sprites/Player/*
!playground/pygame/hello_pygame/assets/sprites/warped_city_2/Sprites/Player/Idle

!playground/pygame/hello_pygame/assets/sprites/warped_city_2/Environment
playground/pygame/hello_pygame/assets/sprites/warped_city_2/Environment/*
!playground/pygame/hello_pygame/assets/sprites/warped_city_2/Environment/background
playground/pygame/hello_pygame/assets/sprites/warped_city_2/Environment/background/*
!playground/pygame/hello_pygame/assets/sprites/warped_city_2/Environment/background/back.png

!playground/pygame/dino/assets/sounds/*
Aprendizado de Máquina/new/*
Aprendizado de Máquina/old/*
Aprendizado de Máquina/.old/*
*:Zone.Identifier
*.tmp
*.old
!Compiladores/.vscode/
